:root {
  --light-cyan: #e3f0ff;
  --orange-color: #f09814 !important;
  --yellow-color: #fefa17 !important;
  --text-color: #737373 !important;
  --section-bg: #fff0ec !important;
  --gray-bg: #f2f4f6 !important;
  --dark-grey-bg: #e4e6e8 !important;
  --dark-text: #575756 !important;
  --light-text: #8e8e8e !important;
  --main-transition: all 0.3s ease !important;
  --body-font: "Manrope", serif !important;
}

* {
  outline: none !important;
  border: none;
}

*:focus {
  outline: none !important;
  border: none !important;
}

body {
  font-family: var(--body-font);
}

.bg-light-cyan {
  background-color: var(--light-cyan);
}

.bg-orange {
  background-color: var(--orange-color);
}
.bg-yellow {
  background-color: var(--yellow-color);
}

.section-bg {
  background-color: var(--section-bg);
}

.gray-bg {
  background-color: var(--gray-bg);
}

.dark-gray-bg {
  background-color: var(--dark-grey-bg);
}

.text-orange {
  color: var(--orange-color);
}

.text-yellow {
  color: var(--yellow-color);
}

.main-text-color {
  color: var(--text-color);
}

.dark-text {
  color: var(--dark-text);
}

.main-transition {
  transition: var(--main-transition);
}
